<!doctype html>
<html>
    <head>
        <meta
            http-equiv="content-type"
            content="text/html; charset=utf-8"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title></title>
    </head>
    <body>
        {{/*komentar*/}}
        <h1>{{ .Name}}</h1>
        {{with .Address}}
        <h1>{{ .Street}}</h1>
        <h1>{{ .District}}</h1>
        {{end}}
    </body>
</html>
